{% form_theme form 'bootstrap_3_layout.html.twig' %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Create author</title>
</head>
<body>
<div class="container">
    <h1>Create new article</h1>
    <div class="row">
        <div class="col-lg-4">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.description) }}
            {{ form_row(form.author) }}

            {{ form_row(form.save, { 'label': 'Create new article' }) }}
            {{ form_end(form) }}
        </div>
    </div>

    <div>
        <p><a href="{{ url('newAuthor') }}" target="_parent">Create new author</a></p>
    </div>
</div>
</body>
</html>