<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>List of articles</title>
</head>
<body>
<div class="container">
    <h1>List of articles</h1>
    <div class="row">
        <div class="col-lg-4">
            {% for item in articles %}
                <div>
                    <h2>{{ item.title|e }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Author of article: <a href="{{ url('viewAuthor',{ 'id': item.author.id}) }}"
                                             target="_parent">{{ item.author.name }}</a></p>
                </div>
                <div>
                    <a href="{{ url('viewArticle',{ 'id': item.id}) }}" target="_parent">View</a>
                    <a href="{{ url('editArticle',{ 'id': item.id}) }}" target="_parent">Edit</a>
                    <a href="{{ url('removeArticle',{ 'id': item.id}) }}" target="_parent">Delete</a>
                </div>
            {% endfor %}
        </div>
        <div>
            <h3><a href="{{ url('newArticle') }}" target="_parent">Create new
                    article</a></h3>
            <h3> <a href="{{ url('newAuthor') }}" target="_parent">Create new
                    author</a></h3>
        </div>

    </div>
</div>
</body>
</html>