<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>{{ pack.0.title }}</title>
</head>
<body>
<div class="container">
    <h1>{{ pack.0.title }}</h1>
    <div class="row">
        <div class="col-lg-12">
            <p><strong>Content:</strong> {{ pack.0.description }}</p>
            <p>Author of article: <a href="{{ url('viewAuthor',{ 'id': pack.0.author.id}) }}"
                                     target="_parent">{{ pack.0.author.name }}</a></p>
            <div>
                <a href="{{ url('editArticle',{ 'id': pack.0.id}) }}" target="_parent">Edit</a>
                <a href="{{ url('removeArticle',{ 'id': pack.0.id}) }}" target="_parent">Delete</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h2>Total comments: {{ pack.1|length }}</h2>
            <div>
                {% for item in pack.1 %}
                    <div style="border-top: 1px solid black;">
                        <p>Author of comment: {{ item.author }}</p>
                        <p>Comment: {{ item.commentText }}</p>
                    </div>
                {% endfor %}
            </div>
            <a href="{{ url('newComment') }}" target="_parent">Add new comment</a>
        </div>
    </div>
</body>
</html>