{% form_theme form 'bootstrap_3_layout.html.twig' %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>New author</title>
</head>
<body>
<div class="container">
    <h1>Create new article</h1>
    <div class="row">
        <div class="col-lg-4">
            {{ form(form) }}
        </div>
    </div>
</div>
</body>
</html>

