<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Author: {{ author.name }}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Author: {{ author.nickname }}</h1>
            <p><strong>Name:</strong> {{ author.name }}</p>
            <p><strong>Email:</strong> {{ author.email }}</p>
            <div>
                <a href="{{ url('editAuthor',{ 'id': author.id}) }}" target="_parent">Edit author</a>
                <a href="{{ url('removeAuthor',{ 'id': author.id}) }}" target="_parent">Delete author</a>
                <a href="{{ url('listArticleAuthor',{ 'id': author.id}) }}" target="_parent">List of articles</a>
            </div>
        </div>
        <div class="col-lg-6">
            <h3><a href="{{ url('newArticle') }}" target="_parent">Create new
                    article</a></h3>
        </div>
    </div>
</div>
</body>
</html>